<html>
<head>
<title>TreePay - P2P Decentralized Payments Processor App</title>
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<meta http-equiv="refresh" content="10; url=http://127.0.0.1:10000/" />
</head>
<body>
<style>
	body {
		background-color: #E6E6FA
	}

	li,h3,h5,p {
		font-family: "Courier New", Courier, monospace
	}
</style>
	<div align="center">
		<img width="250" height="250" src="{{ url_for('static', filename='images/success.png') }}" />
		<h3>Successfully broadcasted to the network!</h3>
		<h5>You will be redirected back in 10 seconds.</h5>
	</div>
</body>
</html>
